<a href="https://colab.research.google.com/github/Sinha123456/extract_file_from_web/blob/master/ebert_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
import glob
import pandas as pd

In [9]:

df_list = []
for ebert_review in glob.glob('/content/drive/MyDrive/ebert_reviews/*.txt'):
  with open(ebert_review, encoding='utf-8') as file:
    title = file.readline()[:-1]
    review_url = file.readline()[:-1]
    review_text = file.read()
    df_list.append({'title': title, 'review_url': review_url, 'review_txt': review_text})
df = pd.DataFrame(df_list, columns= ['title', 'review_url', 'review_txt' ])

In [11]:
df.head()

                                         title  ...                                         review_txt
0                         Touch of Evil (1958)  ...  Come on, read my future for me.You haven't got...
1                       The Dark Knight (2008)  ...  “Batman” isn’t a comic book anymore. Christoph...
2                                 Logan (2017)  ...  Is “Logan” more powerful because of what the s...
3  Seven Samurai (Shichinin no Samurai) (1956)  ...  Akira Kurosawa's "Seven Samurai" (1954) is not...
4                                    Up (2009)  ...  "Up" is a wonderful film, with characters who ...

[5 rows x 3 columns]